#%RAML 0.8
title: Taxonomy Pipeline
version: v1.0
mediaType: application/json
baseUri: http://pipeline.tesco.com/{version}
traits:  
  - requestHeaders: !include ../../shared/v1.0/traits/requestHeaders.yaml
  - multiTenanted: !include ../../shared/v1.0/traits/multiTenanted.yaml
  - paginated: !include ../../shared/v1.0/traits/paginated.yaml
schemas:
  - taxonomySchema: !include schemas/taxonomies.json
  - errorSchema: !include ../../shared/v1.0/schemas/pipelineError.json
/{region}/taxonomies/:
  get:
   is: [ requestHeaders]
   description: |
        Get taxonomy (super department/department/aisle/shelves) to build a hierarchy/navigation.
        Represents a depth-first traversal of the hierarchy, so you are guaranteed to have met a parent before you meet her children.	
        
        Based on the current design this endpoint will call range(productLocation) service to aggregate the result.
        In future, it may also call digital content service.
        
        
        1. Fetching default taxonomy from the top
        Request URL :  http://pipeline.tesco.com/v1/uk/taxonomies/
            
        2. Fetching all hierarchies from a particular point in taxonomy. id determines the point.
        Request URL : https://pipeline.tesco.com/v1/uk/taxonomies/?id=4294793660
            
        3. Fetching hierarchies from the top. Depth determines the level of hierarchy to return.
        Request URL : https://pipeline.tesco.com/v1/uk/taxonomies/?id=4294793660&depth=d            
            
   queryParameters:
    id:
      description: The taxonomy id of the hierarchy that will be used as the starting point. If none supplied, returns the hierarchy from the root
      type: string
      example: "4294793660"
      required: false    
    depth:
      description: The number of levels of the hierarchy to return. Default all levels
      type: string
      example: "2"
      required: false 
   responses:
    200:
      body:
        application/json:
            schema: taxonomySchema
            example: !include examples/taxonomies.json
    400:
      body:
          application/json:
            schema:  errorSchema
            example: !include examples/error4xx.json
    500:
        body:
          application/json:
            schema:  errorSchema
            example: !include examples/error5xx.json
